<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xjm.xxd.dribbird">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:name=".DribApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme">

        <meta-data
            android:name="dribble_client_id"
            android:value="00374a268d3e08adde3d7f0d02afed3ddb404a17d2598634d0385323da5fd311" />
        <meta-data
            android:name="dribble_client_secret"
            android:value="1ef81fc04623504b6f21f064510573fd02ba99e3c77a79aba7e6f721c4633714" />
        <meta-data
            android:name="dribble_client_access_token"
            android:value="51e5c98f2cacf3bdf12117ea97a0da5ff9eb801b5b197be1e0b8233764c50032" />

        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>